#mainbody {
	background-color: white;
	margin-top: 50px;
}
body {
	background-color: #E9EBEE;
}
.navbar {
	box-shadow: 7px 6px 20px rgba(51, 98, 183, 0.56);
	opacity: .8;
}

#kel_home {
	width: 50%;
	height: 50%;
	border-radius: 50px;
	margin-right: 200px;
	margin-left: 122px;
	margin-top: 10px;
	float: left;
}
#chat {
	margin-left: 218px;
	float: left;
	box-shadow: 3px 4px 20px 5px rgba(140, 184, 92, 0.92);
	margin-bottom: 10px;
	margin-top: 15px;
}

#wehave {
	font-style: bold;
	margin-left: 223px;
	color: cadetblue;
}
